body{
    background-image: url(../images/pexels-photo-531880.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card{
    flex-wrap: no-wrap;
}